:root {
  --col-iris: #4d5ae5;
  --col-ocean: #404bbf;
  --col-navy-blue: #2e2f42;
  --col-green: #31d0aa;
  --col-slate: #434455;
  --col-light-slate: #8e8f99;
  --col-cornflower: #e7e9fc;
  --col-cloud: #f4f4fd;
  --col-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --col-grey: rgba(46, 47, 66, 0.7);
  --col-white: #ffffff;
  --col-background: #e5e5e5;
}
.body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--col-slate);
  /* background-color: var(--col-background); */
}
/* header */

.nav-a {
  font-weight: 500;

  color: var(--col-navy-blue);
  text-decoration: none;
}
.nav-a:hover,
.nav-a:active {
  color: var(--col-ocean);
  text-decoration: underline;
}
.address-a {
  font-style: normal;
  text-decoration: none;
  color: var(--col-slate);
}
.address-a:active,
.address-a:hover {
  color: var(--col-ocean);
}
/* index */
/* main */
/* index hero */
.index-section-hero {
  color: var(--col-navy-blue);
  background-color: var(--col-navy-blue);
}
.index-hero-h1 {
  color: var(--col-white);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
}
.index-hero-btn {
  color: var(--col-white);
  background-color: var(--col-iris);
  font-weight: 500;
}
.index-hero-btn:active,
.index-hero-btn:hover {
  background-color: var(--col-ocean);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.img-portfolio > img {
  width: 360px;
  height: 300px;
}
.img-studio-work {
  width: 360px;
  height: 300px;
}
.img-studio-team {
  width: 264px;
  height: 260px;
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo1 {
  color: blue;
}
.logo2 {
  color: black;
}
